body{
    background-color: #eee;

}
.wrapper{
    width: 100%;
    max-width: 960px;
    height: 700px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;

}
.box{
    height: 100px;
    flex: 1 50%;
}
.one{
    background-color: red;

}
.two{
    background-color: green;

}
.three{
    background-color: blue;
}